*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag */

body{
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
}

nav{
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 10px;
    position: fixed;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
}

/* id */

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
    color: green;
}

/* classi */

.product_container{
    height: 100vh;
    position: relative;
}


.product{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.product img{
    max-width: 100%;
}

.product_descriprion{
    text-align: center;
    font-size: 40px;
}